@model IEnumerable<Project_Test.Models.Customers>

    <div class="col-12">
        <h4 class="text-success">CustomerDB</h4>
    </div>

    <div class="col-12 text-right">
        <a asp-controller="Customer" asp-action="Create" class="btn btn-primary">Create Name</a>
    </div>

<hr />

<table class="table table-bordered table-striped" style="width:100%">
   <thead>
       <tr>
           <th>Id</th>
           <th>Name</th>
       </tr>
   </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td width="30%">@Html.DisplayFor(ModelItem => item.Id)</td>
            <td width="50%">@Html.DisplayFor(ModelItem => item.Name)</td>
        </tr>
        }
    </tbody>
</table>